<div class="container">
	<div class="row">
		<div class="col-md-7 card_table">
			<div class="row">
				<div class="col-md-1 col-md-offset-8">
					<img *ngFor="let it of [0,1,2,3,4,5,6,7,8,9]" src="cards/semFace.png" class="card_team" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-md-offset-1 image_oponent" >
					<div *ngFor="let it of [0,1,2,3,4,5,6,7,8,9]">
						<img  src="cards/semFace.png" class="card_oponent" />
					</div>
				</div>
				<div class="col-md-8">
					<ng-container *ngFor="let carta of round" >
						<img *ngIf="carta.jogada == 'played'" [src]="carta.imagePath" class="card"/>
					</ng-container>
				</div>
				<div class="col-md-1 image_oponent">
					<img *ngFor="let it of [0,1,2,3,4,5,6,7,8,9]" src="cards/semFace.png" class="card_oponent" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-md-offset-10">
					<ng-container *ngFor="let carta of myDeck" >
						<img *ngIf="carta.jogada != 'played'" [src]="carta.imagePath" class="card" (click)="playCard(carta)"/>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">Game Status</div>
				<div class="panel-body">
					Team 1:<div *ngFor="let user of team1"> {{user}}</div>
					Team 2:<div *ngFor="let user of team2"> {{user}}</div>
					Points:<p>{{myPoints}}</p>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">Game Chat</div>
				<div class="panel-body">
				    <game-chat></game-chat>
				</div>
			</div>
		</div>
	</div>
</div>


	


