<div>
	<p *ngFor="let m of chatChannel">{{m}}</p>
</div>
<form #messageForm="ngForm">
	<div class="form-group">
		<div class="row">
			<div class="col-md-8">
				<input class="form-control"
					name="message"
					placeholder="Escreva uma mensagem" 
					size="50" 
					required
		            [(ngModel)]="message"/>
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary"
			        [disabled]="!messageForm.form.valid"
			        (click)="send()">Enviar</button>
			</div>
		</div>
	</div>
</form>