<div class="container">
	<div class="row">
		<div class="col-md-7 card_table">
			<div class="row">
				<div class="col-md-1 col-md-offset-8">
					<img *ngFor="let it of [0,1,2,3,4,5,6,7,8,9]" src="cards/semFace.png" class="card_team" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-md-offset-1 image_oponent" >
					<div *ngFor="let it of [0,1,2,3,4,5,6,7,8,9]">
						<img  src="cards/semFace.png" class="card_oponent" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-9 col-md-offset-3">
							<ng-container *ngFor="let card of playedCards" >
								<img  [src]="card.imagePath" class="round"/>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col-md-1 image_oponent">
					<img *ngFor="let it of [0,1,2,3,4,5,6,7,8,9]" src="cards/semFace.png" class="card_oponent" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 col-md-offset-10">
					<ng-container *ngFor="let carta of myHand" >
						<img *ngIf="carta.jogada != 'played'" [src]="carta.imagePath" class="card" (click)="playCard(carta)"/>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">Game Status</div>
				<div class="panel-body">
					<p *ngIf="playTurnCounter == turnToPlay"> It's your turn </p>
					<p *ngIf="playTurnCounter != turnToPlay"> Not your turn </p> 
					Team 1:<label *ngFor="let player of team1"> {{player}}</label>
					Team 2:<label *ngFor="let player of team2"> {{player}}</label>
					Points: {{myPoints}}
					Trunfo: {{trunfo}}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align: center">Game Chat</div>
				<div class="panel-body">
				    <game-chat></game-chat>
				</div>
			</div>
		</div>
	</div>
</div>


	


