<div class="row">
	<div class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading" style="text-align: center">Gobal Chat</div>
			<div class="panel-body">
				<p *ngFor="let m of chatChannel">{{m}}</p>
				<form #messageForm="ngForm">
					<div class="form-group">
						<div class="row">
							<div class="col-md-8">
								<input class="form-control"
									name="message"
									placeholder="Escreva uma mensagem" 
									size="50" 
									required
						            [(ngModel)]="message"/>
							</div>
							<div class="col-md-4">
								<button class="btn btn-primary"
							        [disabled]="!messageForm.form.valid"
							        (click)="send()">Enviar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading" style="text-align: center">Player Notifications</div>
			<div class="panel-body">
				<p *ngFor="let m of playersChannel">{{m}}</p>
			</div>
		</div>
	</div>
</div>


